[submodule "lib/p"]
	path = lib/p
	url = git@github.com:ambiata/p
[submodule "lib/disorder"]
	path = lib/disorder
	url = git@github.com:ambiata/disorder.hs
[submodule "lib/x"]
	path = lib/x
	url = git@github.com:ambiata/x
[submodule "lib/mismi"]
	path = lib/mismi
	url = git@github.com:ambiata/mismi
[submodule "lib/jebediah"]
	path = lib/jebediah
	url = git@github.com:ambiata/jebediah
[submodule "lib/twine"]
	path = lib/twine
	url = git@github.com:ambiata/twine
[submodule "lib/tine"]
	path = lib/tine
	url = git@github.com:ambiata/tine
[submodule "lib/snooze"]
	path = lib/snooze
	url = git@github.com:ambiata/snooze
[submodule "lib/bmx.hs"]
	path = lib/bmx.hs
	url = git@github.com:ambiata/bmx.hs
[submodule "lib/spine"]
	path = lib/spine
	url = git@github.com:ambiata/spine
