[submodule "lib/p"]
	path = lib/p
	url = git@github.com:markhibberd/p
[submodule "lib/disorder"]
	path = lib/disorder
	url = git@github.com:markhibberd/disorder.hs
[submodule "lib/x"]
	path = lib/x
	url = git@github.com:markhibberd/x
[submodule "lib/mismi"]
	path = lib/mismi
	url = git@github.com:markhibberd/mismi
[submodule "lib/twine"]
	path = lib/twine
	url = git@github.com:markhibberd/twine
[submodule "lib/tine"]
	path = lib/tine
	url = git@github.com:markhibberd/tine
[submodule "lib/snooze"]
	path = lib/snooze
	url = git@github.com:markhibberd/snooze
[submodule "lib/bmx.hs"]
	path = lib/bmx.hs
	url = git@github.com:markhibberd/bmx.hs
[submodule "lib/traction"]
	path = lib/traction
	url = git@github.com:markhibberd/traction
[submodule "lib/nest"]
	path = lib/nest
	url = git@github.com:markhibberd/nest
[submodule "lib/vulcan"]
	path = lib/vulcan
	url = git@github.com:markhibberd/vulcan
[submodule "lib/projector"]
	path = lib/projector
	url = git@github.com:thumphries/projector
[submodule "traction"]
	path = traction
	url = git@github.com:markhibberd/traction
