html, body {
    height: 100%;
}

body {
    background-color: white;
    color: #555;
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0px auto 0px auto;
    line-height: 1.5em;
}

a, a:visited {
    text-decoration: none;
    color: #555;
    margin-top: 2px;
    margin-bottom: 2px;
    border-bottom: 2px dashed #aaa;
}

a:hover {
    text-decoration: none;
    color: #16CC55;
    border-bottom: 2px dashed #16CC55;
}

div#header {
    margin-bottom: 3em;
    border-bottom: solid 0.1em #eeeeee;
}

div#header a {
    text-decoration: none;
    border-bottom: none;
}

.header-wrapper {
    margin: 0 auto;
    max-width: 920px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 700px;
}

div#footer {
    height: 10em;
}

.btn {
    border: 2px dashed #aaa;
    border-radius: 3px;
    background-color: white;
    color: #555;
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    margin-top: 0.8em;
    padding: 0.3em 0.8em;
    cursor: pointer;
}

.btn:hover {
    border: 2px dashed #16CC55;
    color: #16CC55;
}

.btn:focus, .btn:active {
    border: 2px dashed #16CC55;
    color: #16CC55;
}
