body.stale h1 {
  position: absolute;
  width: 100%;
  bottom: 10px;
  color: white;
  text-align: center;
  font-size: 3em;
  font-family: sans-serif;
  letter-spacing: 1px;
}

body.stale {
  background-color: #666;
}

body.ok {
  background-color: green;
}

body.notOk {
  background-color: red;
}
