html, body {
    height: 100%;
}

body {
    background-color: white;
    color: #555;
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0px auto 0px auto;
    line-height: 1.5em;
}

a, a:visited {
    text-decoration: none;
    color: #555;
    margin-top: 2px;
    margin-bottom: 2px;
    border-bottom: 2px dashed #aaa;
}

a:hover {
    text-decoration: none;
    color: #16CC55;
    border-bottom: 2px dashed #47a4ad;
}

div#header {
    margin-bottom: 3em;
    border-bottom: solid 0.1em #eeeeee;
}

div#header a {
    text-decoration: none;
    border-bottom: none;
}

.header-wrapper {
    margin: 0 auto;
    max-width: 920px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 700px;
}

div#footer {
    height: 10em;
}


.btn {
    text-decoration: none;
    text-transform: none;
    color: #555;
    margin-top: 2px;
    margin-bottom: 2px;
    border-style: none none dashed none;
    border-bottom: 2px dashed #aaa;
    display: inline-block;
    background-color: white;
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    padding: 0;
}

.btn:hover {
    text-decoration: none;
    color: #16CC55;
    border-bottom: 2px dashed #47a4ad;
}
