<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>boris</title>
        <link rel="stylesheet" type="text/css" href="/css/boris.css" />
    </head>
    <body>
        <div id="header">
          <div class="header-wrapper">
            <a href="/">boris</a>
          </div>
        </div>

        <div id="content">
          <div class="content-wrapper">
            {{#each projects}}
            <div><a href="/project/{{this}}">{{this}}</a></div>
            {{/each}}
          </div>
        </div>

        <div id="footer">
        </div>
    </body>
</html>
