{{#> frame }}
            <h1>
              500 server error
            </h1>
            <p>
              This could look better.
            </p>
            <p>
              If you see this raise an issue with error id: {{ error }}
            </p>
{{/frame}}
